.color1 {color: #311b00;}
.color2 {color: #553613;}
.color3 {color: #855c22;}
.color4 {color: #c08d36;}
.color5 {color: #ffcc4e;}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
   
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    background-color: #b18c5c;
    color: white;
    flex-wrap: wrap;

}
.menu i {
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

.menu p {
    color: white;
    font-size: 15px;
    margin: 10px;
}

.menu-contato{
    width: 70%;
    display: flex;
    align-items: center;
}
.menu-redes-sociais{
    display: 30%;
    display: flex;
    align-items: center;
}

.menu-redes-sociais i{
    color: #855c22;
    background-color: #fff;
    border-radius: 20px;
}

.menu-redes-sociais i:hover{
    color: black;
    transform: scale(1.2);
}

.contato p{
    padding: 5px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    height: 70px;
    width: 100%;
}

.navbar img{
    max-width: 120px;
}

.navbar-menu{
    display: flex;
}

.navbar ul li{
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 80px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    font-weight: 400;
    font-style: normal;
    margin-right: 10px;

}

.navbar-menu-mobile{
    display: none;
}

.navbar a:hover{
    color: #6e4c26;
    text-decoration: underline;
}

.botao-abrir-menu{
    display: none;
}

.botao-abrir-menu i {
    font-size: 30px;
    color: #b18c5c;
    
}

.top{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/img-top.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.titulo h1{
    color: #b18c5c;
    margin: 10px;
    font-size: 10vh;
}

.titulo img{
    max-width: 300px;
}

.top p{
    color: white;
    text-align: justify;
    padding: 10px;
    font-size: 4vh;
}

.botao{
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.botao button{
    padding: 5px 20px;
    background-color: #b18c5c;
    cursor: pointer;
    width: 250px;
    height: 50px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    color: #ffff;
}


.botao button:hover{
    background-color: #311b00;
    transition: 0.2s;
}

.section-quem-somos h1{
    margin: 10px;
    font-size: 30px;
}


.quem-somos {
    display: flex;
    align-items: center;
    line-height: 1.6;
    margin: 10px;
    height: 450px;
}

.quem-somos h2 {
    margin: 10px;
    font-size: 25px;
}

.quem-somos p {
    font-size: 20px;
    padding: 10px;
    text-align: justify;
}

.quem-somos img {
    max-width: 600px;
    padding: 5px;
    border-radius: 20px;
}

.section-areas-de-atuacao{
    display: flex;
    flex-direction: column;
    height: 450px;
}

.background{
    background: rgb(242,242,242);
    background: radial-gradient(circle, rgba(242,242,242,1) 100%, rgba(242,230,222,1) 100%);
}

.section-areas-de-atuacao img {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 350px;
    opacity: 0.1;

}

.section-areas-de-atuacao h1{
    margin: 10px;
    font-size: 30px;
}

.areas{
    margin-top: 20px;
    height: 50%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items:flex-start ;
}

.areas-de-atuacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vh;
}

.areas-de-atuacao h1{
    margin: 10px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
     
}

.areas-de-atuacao p{
    line-height: 1.6;
    margin: 10px;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 10px;
}

.areas-de-atuacao i {
    color: #b18c5c;
    font-size: 65px;
    margin-bottom: 10px;
    margin-top: 25px;
}


.contato h1{
    font-size: 15px;
}

.section-contato {
    height: 450px;
}

.contato{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.contato-titulo h1 {
    margin: 10px;
    font-size: 25px;
}

.mapa{
    width: 100%;
}
.contato iframe {
    width: 100%;
    padding: 10px;
    height: 100%;
}

.contato a {
    text-decoration: none;
    color: black;
}

.texto {
    display: flex;
    flex-direction: column;
    margin: 10px;

}

.conteudo-texto{
    display: flex;
    flex-direction: column;
    color:black;
    margin-top: 20px;

}

.conteudo-texto-titulo{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.conteudo-texto-titulo i {
    font-size: 25px;
}

.conteudo-texto-titulo h1{
    font-size: 15px;
    margin: 5px;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #b18c5c;
}

.footer-titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    height: 80px;
}

.footer-titulo p {
    font-size: 15px;
}


@media screen and (max-width:600px){
    
    .menu-contato{
        display: none;
    }

    .navbar{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        padding: 25px;
    }

    .navbar img {
        width: 15vh;
    }

    .navbar-menu{
        display: none;
    }

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu{
        width: 100%;
    }

    .menu-redes-sociais{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .navbar-menu-mobile{
        display: none;
        background-color: #fff;
        width: 100%;
    }

    .active-menu {
        display: block;
    }

    .links-menu-mobile {
        width: 100%;
        position: absolute;
        background-color: #b18c5c;
        margin-top: 5px;
    }

    .navbar button{
        border: none;
    }

    .navbar-menu-mobile ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-menu-mobile a{
        color: #fff;
        text-decoration: none;
        text-transform: capitalize;
        padding: 12px 10px;
        font-weight: 400;
        font-style: normal;
        width: 100%;
        font-size: 20px;
    }

    .navbar-menu-mobile a:hover{
        color: #553613;
        text-decoration: none;
        text-transform: capitalize;
        padding: 12px 10px;
        font-weight: 400;
        font-style: normal;
        width: 100%;
    }

    .navbar-menu-mobile a:hover{
        color: #6e4c26;
        font-weight: bolder;
    }

    .botao-abrir-menu{
        display: block;
        margin: 5px;
    }


    .top {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 85vh;
        padding-top: 15%;    
    }


    .titulo{
        display: flex;
        flex-wrap: wrap;
    }

    .titulo h1 {
        font-size: 6vh;
    }

    .titulo p {
        font-size: 3vh;
    }

    .quem-somos {
        display: flex;
        flex-direction: column-reverse;
        line-height: 1.6;
        height: 100%;
    }

    .quem-somos h1 {
        font-size: 25px;
        margin: 10px;
    }

    .quem-somos p {
        font-size: 15px;
        margin-bottom: 5px;
        text-align: justify;
    }

    .quem-somos img {
        max-width: 100%;
        padding: 5px;
    }


    .section-areas-de-atuacao{
        height: 100%;
    }

    .areas{
        display: flex;
        flex-direction: column;
    }
    
    .areas-de-atuacao {
        width: 100%;
        height: 400px;
    }


    .contato{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .footer-titulo{
        display: flex;
        flex-direction: column;
    }
    
    .section-contato{
        height: 100%;
    }

}