.color1 {color: #311b00;}
.color2 {color: #553613;}
.color3 {color: #855c22;}
.color4 {color: #c08d36;}
.color5 {color: #ffcc4e;}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
   
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50px;
    background-color: #b18c5c;
    color: white;
    flex-wrap: wrap;

}
.menu i {
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

.menu p {
    color: white;
    font-size: 15px;
    margin: 10px;
}

.menu-contato{
    width: 70%;
    display: flex;
    align-items: center;
}
.menu-redes-sociais{
    display: 30%;
    display: flex;
    align-items: center;
}

.menu-redes-sociais i{
    color: #855c22;
    background-color: #fff;
    border-radius: 20px;
}

.menu-redes-sociais i:hover{
    color: black;
    transform: scale(1.2);
}

.contato p{
    padding: 5px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 80px;
    width: 100%;
}

.navbar img{
    max-width: 120px;
}

.navbar-menu{
    display: flex;
}

.navbar ul li{
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 80px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    font-weight: 400;
    font-style: normal;
    margin-right: 10px;

}

.navbar-menu-mobile{
    display: none;
}

.navbar a:hover{
    color: #6e4c26;
    transform: scale(1.2);
}

.botao-abrir-menu{
    display: none;
}

.botao-abrir-menu i {
    font-size: 30px;
    color: #b18c5c;
    
}

.top{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/img-top.jpg");
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.titulo h1{
    color: #b18c5c;
    margin: 10px;
    font-size: 10vh;
}

.titulo img{
    max-width: 300px;
}

.top p{
    color: white;
    text-align: justify;
    padding: 10px;
    font-size: 4vh;
}

.botao{
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.botao button{
    padding: 5px 20px;
    background-color: #b18c5c;
    cursor: pointer;
    width: 250px;
    height: 50px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    color: #ffff;
}

.botao button:hover{
    background-color: #311b00;
    transition: 0.2s;
}

.section-card {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6f4c26;
}

.section-card h1{
    font-size: 25px;
    margin-bottom: 5px;
}


.card {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:#c08d36;
}

.card-text{
    display: flex;
    flex-direction: column;
    padding: 5px;
    color:#fff;
    line-height: 1.6;
}

.card-text h1{
    font-size: 25px;
    margin-bottom: 5px;
    text-transform: uppercase;

}

.card-text p{
    font-size: 15px;
    text-decoration: double;
    text-align: justify;
}

.card img {
    max-width: 100%;
    margin-bottom: 10px;
}

.section-quem-somos {
    background-color: #ffff;
    display: flex;
    color: black;
    line-height: 1.6;
}

.section-quem-somos h1 {
    font-size: 25px;
    margin-bottom: 5px;
}

.section-quem-somos p {
    font-size: 15px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: justify;
}

.section-quem-somos img {
    max-width: 100%;
    padding: 5px;
}

.form-contato{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-size: 25px;
}

.form-titulo{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form-titulo p{
    text-align: justify;
    margin-top: 10px;
}


.form-input{
    margin: 10px;
    text-align: justify;

}

.form-input input{
    width: 100%;
    height: 45px;
    padding: 10px;
}

.form-input textarea{
    width: 100%;
    height: 80px;
    padding: 10px;
}


.form-botao{
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #6e4c26;
    color: #fff;
}

.contato h1{
    font-size: 15px;

}

.contato{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #6e4c26;
}

.mapa{
    width: 100%;
}
.contato iframe {
    width: 100%;
    padding: 10px;
}

.contato a {
    text-decoration: none;
    color: #fff;
}

.texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 10px;

}

.conteudo-texto-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.conteudo-texto-titulo i {
    font-size: 25px;
}

.conteudo-texto-titulo h1{
    font-size: 15px;
}

footer{
    background-color: #6e4c26;
    display: flex;
    flex-direction: column;
}

.footer-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}


@media screen and (max-width:600px){
    
    .menu-contato{
        display: none;
    }

    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 25px;
    }

    .navbar img {
        width: 15vh;
    }

    .navbar-menu{
        display: none;
    }

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu{
        width: 100%;
    }

    .menu-redes-sociais{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .navbar-menu-mobile{
        display: none;
        background-color: #fff;
        width: 100%;
    }

    .active-menu {
        display: block;
    }

    .links-menu-mobile {
        width: 100%;
        position: absolute;
        background-color: #b18c5c;
        margin-top: 5px;
    }

    .navbar button{
        border: none;
    }

    .navbar-menu-mobile ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-menu-mobile a{
        color: #fff;
        text-decoration: none;
        text-transform: capitalize;
        padding: 12px 10px;
        font-weight: 400;
        font-style: normal;
    }

    .navbar-menu-mobile a:hover{
        color: #553613;
        text-decoration: none;
        text-transform: capitalize;
        padding: 12px 10px;
        font-weight: 400;
        font-style: normal;
    }

    .navbar-menu-mobile a:hover{
        color: #6e4c26;
        font-weight: bolder;
    }

    .botao-abrir-menu{
        display: block;
        margin: 5px;
    }


    .top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 60vh;
        padding-top: 15%;
     
    }

    .titulo{
        display: flex;
        flex-wrap: wrap;
    }

    .titulo h1 {
        font-size: 6vh;
    }

    .titulo p {
        font-size: 3vh;
    }

}